<div class="dashboard-ecommerce">
    <div class="container-fluid dashboard-content ">
        <!-- ============================================================== -->
        <!-- pageheader  -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">Statistique </h2>
                    <div class="page-breadcrumb">
                        <nav aria-label="breadcrumb">
                           
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end pageheader  -->
        <!-- ============================================================== -->
        <div class="ecommerce-widget">
            <div class="row">
                <!-- ============================================================== -->
                <!-- sales  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h5 class="text-muted">Nbr Factures</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{nbrFacture}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5.86%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end sales  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- new customer  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h5 class="text-muted">Nbr Contrats</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{nbrContrat}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">10%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end new customer  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- visitor  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h5 class="text-muted">Nbr Indevedu</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{nbrIndevedu}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-success bg-success-light"><i class="fa fa-fw fa-arrow-up"></i></span><span class="ml-1">5%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end visitor  -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- total orders  -->
                <!-- ============================================================== -->
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-12">
                    <div class="card border-3 border-top border-top-primary">
                        <div class="card-body">
                            <h5 class="text-muted">nbr de utilisateur</h5>
                            <div class="metric-value d-inline-block">
                                <h1 class="mb-1">{{nbrUser}}</h1>
                            </div>
                            <div class="metric-label d-inline-block float-right text-danger font-weight-bold">
                                <span class="icon-circle-small icon-box-xs text-danger bg-danger-light bg-danger-light "><i class="fa fa-fw fa-arrow-down"></i></span><span class="ml-1">4%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end total orders  -->
                <!-- ============================================================== -->
            </div>
        
            <div class="row">
                <!-- ============================================================== -->
          
                <!-- ============================================================== -->

                              <!-- recent orders  -->
                <!-- ============================================================== -->
                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Contrat refuse</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0">#</th>
                                         
                                            <th class="border-0">Numero Contart</th>
                                            <th class="border-0">Status Contrat</th>
                                            <th class="border-0">Date Realisation</th>
                                            <th class="border-0">Commision Factring</th>
                                           
                                            <th class="border-0">Montant</th>
                                            <th class="border-0">Devise</th>
                                            <th class="border-0">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let contrat of contrats" >
                                          
                                            <td *ngIf="contrat.etat === false" >{{contrat.id}}</td>
                
                                            <td *ngIf="contrat.etat === false">{{contrat.numeroContart}}</td>
                                            <td *ngIf="contrat.etat === false">{{contrat.statusContrat}} </td>
                                            <td *ngIf="contrat.etat === false">{{contrat.dateRealisation}}</td>
                                            <td *ngIf="contrat.etat === false">{{contrat.commisionFactring}}</td>
                                            <td *ngIf="contrat.etat === false">{{contrat.montant}}</td>
                                            <td *ngIf="contrat.etat === false">{{contrat.devise}} </td>
                                            <td *ngIf="contrat.etat === false"> <span class="badge-dot badge-brand mr-1"></span>{{contrat.etat}}  </td>
                                       </tr>
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end recent orders  -->

                <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                    <div class="card">
                        <h5 class="card-header">Contrat accepter</h5>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0">#</th>
                                         
                                            <th class="border-0">Numero Contart</th>
                                            <th class="border-0">Status Contrat</th>
                                            <th class="border-0">Date Realisation</th>
                                            <th class="border-0">Commision Factring</th>
                                           
                                            <th class="border-0">Montant</th>
                                            <th class="border-0">Devise</th>
                                            <th class="border-0">Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let contrat of contrats" >
                                          
                                            <td *ngIf="contrat.etat === true">{{contrat.id}}</td>
                
                                            <td *ngIf="contrat.etat === true">{{contrat.numeroContart}}</td>
                                            <td *ngIf="contrat.etat === true">{{contrat.statusContrat}} </td>
                                            <td *ngIf="contrat.etat === true">{{contrat.dateRealisation}}</td>
                                            <td *ngIf="contrat.etat === true">{{contrat.commisionFactring}}</td>
                                            <td *ngIf="contrat.etat === true">{{contrat.montant}}</td>
                                            <td *ngIf="contrat.etat === true">{{contrat.devise}} </td>
                                            <td *ngIf="contrat.etat === true"><span class="badge-dot badge-brand mr-1"></span>{{contrat.etat}}  </td>
                                       </tr>
                                
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- customer acquistion  -->
                <!-- ============================================================== -->
             
                <!-- ============================================================== -->
                <!-- end customer acquistion  -->
                <!-- ============================================================== -->
            </div>
  
    
        </div>
    </div>
</div>