<!doctype html>
<html lang="en">
 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Success Register</title>
    <style>
    html,
    body {
        height: 100%;
    }

    body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    </style>
</head>

<body>
    <!-- ============================================================== -->
    <!-- login page  -->
    <!-- ============================================================== -->
    <div class="splash-container">
        <div class="card ">
            <div class="card-header text-center">                <a class="navbar-brand" href="index.html">Shamash</a>
            </div>
            <div class="card-body" style="text-align: center;">
                <h5 style="color: green;">Votre compte a ete cree avec succ</h5>
                <h5 style="color: green;">Un admin doit approve votre compte pour accede a notre espace</h5>
                <h3 style="color: rebeccapurple;" >Merci</h3>
            </div>
            <div class="card-footer bg-white p-0  ">
                <div class="card-footer-item card-footer-item-bordered">
                    <a href="#" class="footer-link" (click)="gologin()">Login</a></div>
            </div>
        </div>
    </div>
  

</body>
 
</html>